[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "ThirdParty/libdas"]
	path = ThirdParty/libdas
	url = https://git.dengproject.org/deng/libdas
[submodule "ThirdParty/mar"]
	path = ThirdParty/mar
	url = https://git.dengproject.org/deng/minimal-ascii-reader
[submodule "ThirdParty/trs"]
	path = ThirdParty/trs
	url = https://git.dengproject.org/deng/trs-headers
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
