[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "ThirdParty/mar"]
	path = ThirdParty/mar
	url = https://git.dengproject.org/deng/minimal-ascii-reader
[submodule "ThirdParty/trs"]
	path = ThirdParty/trs
	url = https://git.dengproject.org/deng/trs-headers
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ThirdParty/das2"]
	path = ThirdParty/das2
	url = https://git.dengproject.org/deng/das2
[submodule "Thirdparty/cvar"]
	path = Thirdparty/cvar
	url = https://git.dengproject.org/deng/cvar
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb
