[submodule "deps/libdas"]
	path = deps/libdas
	url = https://git.sadblog.xyz/libdas
[submodule "deps/nekowin"]
	path = deps/nekowin
	url = https://git.sadblog.xyz/nekowin
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/shaderc"]
	path = deps/shaderc
	url = https://github.com/google/shaderc
[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "deps/Vulkan-ValidationLayers"]
	path = deps/Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers
