.vscode/
.vs/
release/
.cache/
.clangd/
.modules/
.stfolder/
*.vcxproj*
*.sln
*~*
*.log
deps/
normalising.txt
compile_commands.json
compile_flags.txt
legacy/
x64/
website/
Makefile
*.ini
*.make
init.sh
init.bat
make/
build/
obj/
rgbbitmap.log
matobject.log
object.log
src/helloworld.cpp
src/helloworld
assets/private
objects/private
tags
